
@{
    ViewData["Title"] = "مدیریت";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
@model List<UserViewModel>;

<!-- Kendo UI -->
<div class="row">
    <div class="col">
        @(Html.Kendo().Grid(Model)
            .Name(Captions.UsersForm)
            .DataSource(s => s
                .Ajax()
                .PageSize(5)
                .ServerOperation(false)
            )
            .Pageable()
            .Sortable()
            .Groupable()
            .Columns(columns =>
            {
                columns.Bound(u => u.FirstName).Title(Fields.FirstName);
                columns.Bound(u => u.LastName).Title(Fields.LastName);
                columns.Bound(u => u.Username).Title(Fields.Username);
            })
        )
    </div>
</div>
<!-- Kendo UI End -->