@model BrandViewModel
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

    <input type="hidden" asp-for="Id" />

    <div class="col-12 mb-20">
        <label asp-for="Title">@Fields.TitleInput</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="@Fields.TitleInput">
        
    </div>

    <span asp-validation-for="Title" class="text-danger"></span>
<!--File Upload-->
@*<div class="col-12 mb-20">
        <label for="formLayoutFile2">@Fields.UploadFile</label>
        <input type="file" id="imageform" class="dropify" asp-for="ImageFormFile">
    </div>*@
<!--File Upload-End-->
<div id="submitButtonsds" class="col-12 mb-20">
    </div>
<script>
    $(document).ready(function () {
         $.validator.unobtrusive.parse("#brandform");
    })
</script>