@model BrandViewModel
<link href="~/ManagementDashboard/CSS/Brand/Create.css" rel="stylesheet" />
@{
    string createUrl = $"{Constants.ControllerBrand}/{Constants.ActionCreate}";
}
<div class="form-body">
    <partial name="_CreateOrEdit" for="@Model" />
</div>
<div class="form-actions">
    <div class="btn-set pull-right">
        <button type="button" class="btn green" id="createbtn" onclick="submitForm('brandform', '@createUrl')" formaction="@Constants.ControllerBrand/@Constants.ActionCreate">@Fields.SaveButton</button>
        <button type="button" class="btn red" id="cancelCratebtn">@Fields.ClearButton</button>
    </div>
</div>

@section Scripts {
    <script src="~/ManagementDashboard/JS/Brand/Create.js"></script>
}